<tr>
  <td class="gravatar">
    <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  </td>
  <td class="ventpost">
    <span class ="user">
      <%= link_to feed_item.user.name, feed_item.user %>
    </span>
    <span class="content">
      <%= feed_item.content %>
    </span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span>
    
      <span class="votevent">
        <div class="upvotecount" id=<%= "upvotecount#{feed_item.id}" %>>
            <%= pluralize(feed_item.ventvotes.count, 'vote') %>
        </div>
        <% if (current_user != feed_item.user) && !feed_item.voted?(current_user) %>
          <div class="upvoteicon" id=<%= "upvoteicon#{feed_item.id}" %>>
            <%= link_to "Vote!", votevents_path(:ventpost_id => feed_item), :class => "upvotelink round", :method => :post, :remote => true %>
          </div>
        <% end %>
      </span>
  </td>

  <% if current_user?(feed_item.user) || current_user.admin? %>
    <td>
      <%= link_to 'delete', feed_item, :method => :delete,
                                       :confirm => 'You sure?',
                                       :title => "Delete #{feed_item.content}" %>
    </td>
  <% end %>
</tr>