<tr>
  <td class="gravatar">
    <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  </td>
  <td class="ventpost">
    <span class ="user">
      <%= link_to feed_item.user.name, feed_item.user %>
    </span>
    <span class="content">
      <%= feed_item.content %>
    </span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span>
    
      <span class="votevent">
        <% if (current_user != feed_item.user) && !(Votevent.where("ventpost_id = ? AND user_id = ?", feed_item.id, current_user.id)).any? %>
          <div id=<%= "upvoteicon#{feed_item.id}" %>>
            <%= link_to upvote, votevents_path(:ventpost_id => feed_item), :method => :post, :remote => true %>
          </div>
        <% end %>
        <div id=<%= "upvotecount#{feed_item.id}" %>>
          <%= pluralize(feed_item.ventvotes.count, 'vote') %>
        </div>
      </span>
  </td>

  <% if current_user?(feed_item.user) || current_user.admin? %>
    <td>
      <%= link_to 'delete', feed_item, :method => :delete,
                                       :confirm => 'You sure?',
                                       :title => "Delete #{feed_item.content}" %>
    </td>
  <% end %>
</tr>