<% if signed_in? %>
  <table class="front" summary="For sign-in users">
    <tr>
      <td class="main">
        <h1 class="ventpost">Speak your mind!</h1>
          <%= render 'shared/ventpost_form' %>
          <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
        <%= render 'shared/sidebar_ad_yellow_background' %>
      </td>
    </tr>
  </table>
<% end %>